*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    border: 2px black solid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(69, 72, 75);
    gap: 10px;
    height: 95vh;
}
.title{
    margin-top: 24px;
    color: antiquewhite;
}
.select-option{
    color:burlywood;
}
.buttons{
    display: flex;
    width: -webkit-fill-available;
    align-items: center;
    justify-content: space-around;
    gap: 55px;
}
.buttons button{
    background: none;
    
}
.buttons button img{
    height: 100px;
}
.display{
    border: 1px red solid;
    display: flex;
    align-items: center;
    justify-content: center;
    width: -webkit-fill-available;
    gap: 150px;
}
canvas{
    border: 1px yellow solid;
}

.score{
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: center;
    gap: 20px;
}
.result{
    display: flex;
    width: 250px;
    justify-content: space-around;
}
footer{
    background-color: bisque;
}
.footer{
    height: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}