*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #191717;
    gap: 10px;
    height: 95vh;
}
.title{
    margin-top: 24px;
    color: #CCC8AA;
}
.select-option{
    color:burlywood;
}
.buttons{
    display: flex;
    width: -webkit-fill-available;
    align-items: center;
    justify-content: space-around;
    gap: 55px;
}
.who-wins{
    display: flex;
    color: #7D7C7C;
    font-size: large;
}

.display{
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: -webkit-fill-available;
    
}
canvas{
    border: 5px solid #7D7C7C; 
    background: none;
    border-radius: 25px;
}
.score{
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: center;
    gap: 20px;
    color: #7D7C7C;
}

.result{
    display: flex;
    width: 250px;
    justify-content: space-around;
}

.result .my-result{
    display: flex;
    
}
.tie{
    display: flex;
}
.result .computer-result{
    display: flex;
}
footer{
    background-color: #7D7C7C;
}
.footer{
    height: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.button-1{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.button-2{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.button-2 button img{
    width: 110px;
    height: 110px;
}
.button-3{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
button{
    border: 5px solid #7D7C7C; 
    background: none;
    border-radius: 25px;
    width: 150px;
    cursor: pointer; 
}

button:hover{
    border-color: #7D7C7C dotted; 
}
.logs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: #191717;
}
.log_title{
    font-size: 25px;
    color: #CCC8AA;
}
.logs #logs_p{
    color: aliceblue;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.log_underline{
    display: inline;
    border-bottom: 2px rgb(126, 167, 230) dashed;
    width: 70%;
}